{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-profile{% endblock %}

{% block scripts %}
{% endblock %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}

    <form method="POST" action="{% url "account_profile" %}">
        {% csrf_token %}
        <legend>{% trans "Edit Profile" %}</legend>
	<h2>{{ user.get_full_name }}</h2>
	<ul>
 	 <li>Username: {{ user.username }}</li>
	  <li>Location: {{ user.profile.location }}</li>
 	 <li>Birth Date: {{ user.profile.birth_date }}</li>
 	 <li>Role: {{ user.profile.role }}</li>
	</ul>
	{{ form.media }}
  	{{ form|bootstrap }}
        <div class="form-actions">
            <button>{% trans "Save" %}</button>
        </div>
    </form>
{% endblock %}
