{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <form method="POST" action="">
        <legend>{% trans "Change password" %}</legend>
        <fieldset>
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
                <button>{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
